@import url('https://fonts.googleapis.com/css2?family=Allura&family=Italianno&family=Parisienne&family=Playfair+Display&family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #050502;
}

.navbar{
    position: fixed;
    width: 100%;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 2s ease;
    z-index: 999;
}

.navbar.sticky{
    padding: 5px 0;
    background: url(image1.jpg);
}
.max_width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.navbar .max_width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: rgb(7, 6, 6);
    font-size: 60px;
    font-weight: 700;
    background-size: auto;
    font-family: 'Italianno';
    text-shadow: 0 0 20px #050502;
}

.navbar .logo a span{
    color: rgb(10, 8, 2);
    transition: all 1s ease;
}

.navbar.sticky .logo a span{
    color: rgb(107, 75, 1);
    
}
.navbar .menu li {
    cursor: pointer;
    position: relative;
    list-style: none;
    display: inline-block;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all 0.3s;
    font-weight: 700;
    
}

.navbar .menu li a{
    color:  rgb(7, 6, 6);
    font-size: 20px;
    margin-left: 5px;
    margin-right: 15px;
    margin-top: 10px;
    transition: color 0.3s ease;
    text-align: left;
}

.navbar .menu li:hover{
    /* color: rgb(189, 140, 18); */
    border: 1.5px solid rgb(3, 3, 3); 
    background-color: goldenrod;
    top: -1px;
    left: -1px;
    bottom: -1px;
    right: -1px;
    box-shadow: 0 0 20px #0c0c05;
    text-shadow: 0 0 20px #050502;
    padding-right: 12px;
}

/* menu  btn styling */
.menu-btn{
    color: black;
    font-size: 23px;
    cursor: pointer;
    display: none;

}

.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: goldenrod;
    right: 30px;
    bottom: 30px;
    text-align: center;
    line-height: 45px;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}


/* home sectio styling */
.home{
    display: flex;
    background: url(bg1.png);
    height: 100vh;
    background-size: cover;
    /* background-attachment: fixed; */
    color: black;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}

.home .max_width{
    margin: auto 0 auto 30px;
}

.home .home_content a{
    display: inline-block;
    background: rgb(3, 3, 3);
    color: goldenrod;
    font-size: x-large;
    font-style: bold;
    font-weight: 700;
    border: 2px solid black;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    transition: all 1s ease;
}

.home .home_content a:hover{
    background: none;
    color: rgb(97, 69, 4);
    box-shadow: 0 0 30px #050502;
    text-shadow: 0 0 30px beige;
}
.home .home_content .test-1{
  font-size: 21px;
}

.home .home_content .test-1:hover{
   color: brown;
  }
  
.home .home_content .test-2{
    font-size: 65px;
    font-weight: 600;
    margin-left: -3px;
  }

.home .home_content .test-3{
    font-size: 30px;
    margin: 5px 0;
  }

.home .home_content .test-3 span{
    color: goldenrod;
    font-weight: 500;
    margin: auto;

}

/* about section styling */
section{
    padding: 20px 50px;
    background: url(img2.jpg);
    
}
.about, .teams, .contact{
    font-family: 'Poppins', sans-serif;
    padding-top: 5px;
}

.about .title{
    position: relative;
    color: beige;
    text-align: center;
    font-family: 'playfair display',sans-serif;
    margin-left: 700px;
    font-size: xx-large;
    margin-top: 30px;
}

.about .title::before{
    content: "";
    position: absolute;
    width: 222px;
    bottom: -15%;
    left: 50%;
    height: 3px;
    background-color: beige;
    transform: translateX(-50%);

}

.about .title::after{
    content: "The Chaotic";
    position: absolute;
    /* width: 200px; */
    bottom: -20px;
    left: 50%;
    font-size: 20px;
    color: goldenrod;
    background: url(img2.jpg);
    transform: translateX(-50%);
    transition: all 1sec ease;

}
.about .title::after:hover{
    bottom: -20px;
    left: 50%;
    font-size: 20px;
    color: beige;
    background: url(img2.jpg);
    transform: translateX(-50%);
    

}
.about .title:hover{
    color: goldenrod;
    box-shadow: 0 0 60px #050502;
    text-shadow: 0 0 60px beige;
}

.about .about-content .left img{
       object-fit: cover;
       padding-top: 3px;
       padding-bottom: 0;
       margin-top: -30px;
       border-radius: 6px;
}

.about .about-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about .about-content .left{
   width: 65%;
}

.about .about-content .right{
    width: 35%;
 }
.about .about-content .right .text{
    color: beige;
    margin-top: 20px;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.about .about-content .right span{
    color: goldenrod;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.about .about-content .right .para{
    color: beige;
    text-align: justify;
}

.about .about-content .right a{
    display: inline-block;
    background: rgb(3, 3, 3);
    color: goldenrod;
    font-size: 20px;
    font-style: bold;
    font-weight: 700;
    border: 2px solid black;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    transition: all 1s ease;
}

.about .about-content .right a:hover{
    background: none;
    color: rgb(97, 69, 4);
    background-color: rgb(245, 197, 78);
    box-shadow: 0 0 30px #050502;
    text-shadow: 0 0 30px beige;
}
/* respoinsive media query start */
@media (max-width: 1300px ){
    .home .max-width{
        margin-left: 0px;
    }
}

@media (max-width: 1104px ){
    .about .about-content .left img{
        height: 500px;
        width: 500px;
 }
}

@media (max-width: 991px ){
    .max-width{
        padding: 0 50px;
    }
}

@media (max-width: 947px ){

    .menu-btn{
        display: block;
        z-index: 999;
    }

    .menu-btn i.active:before{
        content: "\f00d";
    }
    .max_width{
        padding: 0 50px;
    }

    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left:-100%;
        top: 0;
        background: beige;
        text-align: center;
        padding-top: 80px;
        font-size:xx-large;
        transition: all 1s ease;
    }

    .navbar .menu.active{
        left: 0%;
    }

    .navbar .menu li{
        display: block;
    }

    .navbar .menu li a{
        display: inline-block;
        margin: 40px 0;
        font-size: 25px;

    }

    .navbar .menu .ser a{
        padding-top: 5px;
        margin-bottom: 20px;
        font-size: 20px;
        font-size: x-large;
        /* here */
    }

    .navbar .menu li:hover{
        color: rgb(189, 140, 18); 
        margin: 10px;
        border: 0px solid rgb(3, 3, 3);
        background-color: beige;
        border-width: 2 2 2 2px; 
        box-shadow: 0 0 0px #0c0c05;
        text-shadow: 0 0 20px #050502;
    }
    .home .home_content{
        padding-left: 10px;
        margin-left: -50px;
    }
    .home .home_content .test-2{
        font-size: 70px;
      }
    
    .home .home_content .test-3{
        font-size: 35px;
      }
     
    .home .home_content a{
        font-size: 23px;
        padding: 10px 30px;
    }

    .about .about-content .column{
        width: 50%;

    }
     
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;

    } 

    .about .about-content .right{
        flex: 100%;
        padding-top: 10px;
    }
     
    .about .max-width .title{
        display: flex;
        justify-content: center;
        margin-left: 10px;
        margin-bottom: 90px;
        flex: 100%;
    } 
    .max_width{
        max-width: 800px;
    }
}

@media (max-width: 690px ){

    .max_width{
        padding: 0 23px;
        margin-right: 60px;
    }

    .home .home_content .test-2{
        font-size: 60px;
      }
    
    .home .home_content .test-3{
        font-size: 32px;
      }

    .home .home_content a{
        font-size: 20px;
    }
}

@media (max-width: 500px ){

    .home .home_content .test-2{
        font-size: 50px;
      }
    
    .home .home_content .test-3{
        font-size: 27px;
      }
}

body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .flip-card {
    background: url(image5.jpg);
    align-items: center;
    width: 250px;
    height: 250px;
    perspective: 100000px;
    display: inline-block;
    margin-right: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    page-break-after:always;
    
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    
  }
  
  .flip-card-front {
    background: url(bbb.jpg);
    color: black;
  }
  
  .flip-card-back {
    background-color: goldenrod;
    align-items: center;
    color: white;
    transform: rotateY(180deg);
    padding-top: 90px;

    
  }

 .ser .text{
    text-align: center;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    margin-bottom: 4px;
    margin-top: 4px;
    background: url(image11.jpg);
    padding-top: 20px;
    padding-bottom: 20px;
    transition: all 1sec ease;
    font-family: 'italianno';
 }

 .ser .text:hover{
    background: url(bg2.jpg);
    color: goldenrod;
    text-shadow: 0 0 20px rgb(252, 252, 152);
    box-shadow: 0 0 20px rgb(175, 175, 4);;
 }

 .ser .menuser{
     border: solid 2px black;
     background: url(img2.jpg);
 }

 .teams{
     background: url(image11.jpg);
 }
 
 .teams .title{
    position: relative;
    color: rgb(7, 7, 6);
    text-align: center;
    font-family: 'playfair display',sans-serif;
    margin-left: 70px;
    font-size: xx-large;
    margin-top: 30px;
    
}

.teams .title::before{
    content: "";
    position: absolute;
    width: 222px;
    bottom: -15%;
    left: 50%;
    height: 3px;
    background-color: rgb(10, 10, 10);
    transform: translateX(-50%);
    
}

.teams .title::after{
    content: "The Chaotic";
    position: absolute;
    /* width: 200px; */
    bottom: -20px;
    left: 50%;
    font-size: 20px;
    color: goldenrod;
    transform: translateX(-50%);
    transition: all 1sec ease;
    margin-bottom: 0px;
    background: url(image11.jpg);

}
.teams .title::after:hover{
    bottom: -20px;
    left: 50%;
    font-size: 20px;
    color: rgb(12, 12, 2);
    transform: translateX(-50%);
    background:#050502;
}
.teams .title:hover{
    color: goldenrod;
    box-shadow: 0 0 60px #050502;
    text-shadow: 0 0 60px rgb(8, 8, 8);
    background: #050502;
}
.teams .carousel .card{
    margin-top: 50px;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
    background: url(image1.jpg);
    transition: all 0.3s ease;
}

.teams .carousel .card:hover{
    background: goldenrod;
}

.teams .carousel .card:hover{
    transform: scale(1.05);
}

.teams .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.teams .carousel .card .text{
     font-size: 25px;
     font-weight: 500;
     margin: 10px 0 7px 0;
}

.teams .carousel .card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid black;
    transition: all 0.3s ease;
}

.teams .carousel .card:hover img{
    border-color: beige;
}

.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid goldenrod!important;
    transition: all 0.3s ease;
}
.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
    background: black!important;
}

.contact .title{
   position: relative;
   color: beige;
   text-align: center;
   font-family: 'playfair display',sans-serif;
   margin-left: 70px;
   font-size: xx-large;
   margin-top: 30px;
   margin-bottom: 20px;
}

.contact .title::before{
   content: "";
   position: absolute;
   width: 222px;
   bottom: -15%;
   left: 50%;
   height: 3px;
   background-color: beige;
   transform: translateX(-50%);
   
}

.contact .title::after{
   content: "The Chaotic";
   position: absolute;
   /* width: 200px; */
   bottom: -20px;
   left: 50%;
   font-size: 20px;
   color: goldenrod;
   transform: translateX(-50%);
   transition: all 1sec ease;
   margin-bottom: 0px;
   background: url(img2.jpg);

}
.contact .title::after:hover{
   bottom: -20px;
   left: 50%;
   font-size: 20px;
   color: rgb(12, 12, 2);
   transform: translateX(-50%);
   background:#050502;
}
.contact .title:hover{
   color: goldenrod;
   box-shadow: 0 0 60px #050502;
   text-shadow: 0 0 60px rgb(8, 8, 8);
   background: none;
}
.contact .contact-content .column-left{
    color: beige;
}

.contact .contact-content .column{
    width: calc(50% - 30px);
    /* margin: auto; */
}

.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left p{
    text-align : justify;
}

.contact .contact-content .left .icons{
    margin: 10px 0;
}

.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}

.contact .contact-content .row .info{
    margin-left: 30px;
}

.contact .contact-content .row i{
    font-size: 25px;
    color: goldenrod;
}

.contact .contact-content .info .head{
    font-weight: 500;
}

.contact .contact-content .info .sub-title{
    color: goldenrod;
}

.contact .right form .fields{
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}

.contact .right form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
    border-color: #b3b3b3;
}
.contact .right form .textarea textarea{
  padding-top: 10px;
  resize: none;
}
.contact .right form .button-area{
  display: flex;
  align-items: center;
}
.right form .button-area button{
    display: inline-block;
    background: none;
    color: goldenrod;
    font-size: x-large;
    font-style: bold;
    font-weight: 700;
    border: 2px solid black;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    transition: all 1s ease;
}
.right form .button-area button:hover{
    background: goldenrod;
    color: rgb(97, 69, 4);
    box-shadow: 0 0 30px #050502;
    text-shadow: 0 0 30px beige;
}

footer{
    background: #111;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}
footer span a{
    color: crimson;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}
